/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/sequencecomposition Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    // Most of the pipeline requires very little resources
    cpus   = 1
    memory = 25.MB
    // but still gradually increase the allowed runtime as I/O can be unexpectedly slow
    time   = { check_max( 30.min * task.attempt, 'time' ) }

    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
