/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/sequencecomposition Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    // Most of the pipeline requires very little resources
    cpus          = 1
    // but still gradually increase the resources to allow the pipeline to self-heal
    memory        = { 50.MB * task.attempt }
    time          = { 30.min * task.attempt }

    // tabix needs pointers to the sequences in memory
    withName: BGZIPTABIX {
        // 50 MB per 25,000 sequences
        memory = { 50.MB * task.attempt * Math.ceil(meta.n_sequences / 25000) }
    }

    // fasta_windows takes more memory on larger genomes
    withName: FASTAWINDOWS {
        // 1 CPU per 1 Gbp
        cpus   = { Math.ceil(fasta.size() / 1000000000) }
        // 100 MB per 45 Mbp
        memory = { 100.MB * task.attempt * Math.ceil(fasta.size() / 45000000) }
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}
