/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a relatively comprehensive pipeline test.

    Use as follows:
        nextflow run sanger-tol/sequencecomposition -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    if(System.getenv('GITHUB_ACTION') != null ) {
        // Limit resources so that this can run on GitHub Actions
        max_cpus   = 2
        max_memory = '6.GB'
        max_time   = '6.h'
    }

    // Path to a sample csv file
    input = "${projectDir}/assets/samplesheet.csv"
}
